* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px; /* TODO replace with custom variable */
}

/* CUSTOM PROPERTIES */
:root {
  --clr-dark: #1f2937;
  --clr-light-strong: #f9faf8;
  --clr-light-dim: #e5e7eb;
  --clr-accent: #3882f6;
  --font-large: 36px;
  --font-small: 18px;
}

/* BASE ELEMENTS */
ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

h1 {
  width: 60%;
  font-size: 48px;
  font-weight: 900;
  color: var(--clr-light-strong);
}

h2 {
  color: var(--clr-light-strong);
  font-weight: 900;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  background-color: var(--clr-accent);
  font-size: 16px;
  font-weight: 700;
  color: var(--clr-light-strong);
  cursor: pointer;
}

/* STRUCTURAL ELEMENTS */
.section {
  display: flex;
}

.__col {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* SECTIONS */
.__header {
  min-width: 100%;
  justify-content: space-between;
}

.__header {
  align-self: flex-start;
  background-color: var(--clr-dark);
  color: var(--clr-light-dim);
}

.__nav {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0 0 0;
}

.__hero {
  padding: 5em;
}

.__hero > * {
  min-height: 10vw;
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
}

.__intro {
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.__intro > p {
  max-width: 72%;
}

.__showcase {
  background-color: #79838d;
  color: var(--clr-light-strong);
}

.__information {
  width: 100vw;
  padding: 2em 0 5em 0;
}

.info-header {
  padding-bottom: 1em;
  font-size: 36px;
  font-weight: bold;
  color: var(--clr-dark);
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.info-box {
  width: 170px;
}

.info-tile {
  width: 170px;
  height: 170px;
  border: 4px solid var(--clr-accent);
  border-radius: 15px;
}

.info-box > p {
  padding-top: 0.5rem;
  text-align: center;
}

.__quote-area {
  min-width: 100%;
  padding: 5em 0;
  background-color: var(--clr-light-dim);
  line-height: 1.5;
}

.__quote-wrapper {
  max-width: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__quote-wrapper > p:first-of-type {
  font-size: 36px;
  font-style: italic;
}

.__quote-wrapper > p:last-child {
  align-self: flex-end;
  padding-right: 4em;
  font-size: 24px;
  font-weight: 900;
}

.__call-to-action {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.__call-wrapper {
  width: 60%;
  margin: 5rem 0;
  border-radius: 5px;
  padding: 2em 0;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--clr-accent);
  color: var(--clr-light-dim);
}

.__call-wrapper > * {
  display: flex;
}

.__call-text {
  align-items: baseline;
}

.__call-text > h2 {
  font-size: 24px;
}

.__call-wrapper > button {
  border: 1px solid var(--clr-light-strong);
  align-self: center;
}

.__footer {
  min-width: 100%;
  padding: 2em 0;
  background-color: var(--clr-dark);
  color: var(--clr-light-dim);
}
